table {
    border-collapse: collapse;
    tbody {
        tr {
            td:first-child {
                white-space: nowrap;
                padding-left: 0;
                font-weight: 500;
            }
            td {
                padding-left: 2vw;
                white-space: wrap;
                pre {
                    font-family: 'Be-vietnam-pro', sans-serif;
                    margin: 0;
                }
            }
            &:hover {
                background-color: #ff990010;
            }
        }
    }
}