<div class="interface">
    <int-button interface="general" [active]="status.general" (selectInterface)="selectInterface($event)">General</int-button>
    <int-button interface="request" [active]="status.request" (selectInterface)="selectInterface($event)">Request</int-button>
    <int-button interface="response" [active]="status.response" (selectInterface)="selectInterface($event)">Response</int-button>
    <int-button interface="timing" [active]="status.response" (selectInterface)="selectInterface($event)">Timing</int-button>
</div>