
.layout {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    padding: 1rem;

    .table {
        display: grid;
        grid-template-columns: repeat(2, auto) 1fr repeat(4, auto) ;
        width: clamp(600px, 60dvw, 80dvw);
        .head {
            display: flex;
            align-items: center;
            padding: 4px 8px;
            background: linear-gradient(to bottom, #ff9900, #ff6600);
            height: 24px;
            font-weight: 500;
            color: white;
            &:first-child {
                border-radius: 8px 0 0 0;
            }
            &:nth-child(7) {
                border-radius: 0 8px 0 0;
            }
        }

        .cell {
            height: fit-content;
            cursor: pointer;
            overflow: hidden;
            padding: 4px;
            text-overflow: ellipsis;
            white-space: nowrap;
            &:nth-child(8n-8) {
                border-left: 1px solid #F0F0F0;
            }
            border-right: 1px solid #F0F0F0;
            border-bottom: 1px solid #F0F0F0;
        }

        total-cell {
            grid-column: 1/-1;
            overflow-y: hidden;
            border-left: 1px solid #F0F0F0;
            border-right: 1px solid #F0F0F0;
        }

        .hide {
            max-height: 0;
            transition: all 0.12s ease-in;
            padding: 0;
        }
        
        .show {
            max-height: 400px;
            transition: all 0.12s ease-in;
        }

        .id {
            color: #D0D0D0;
        }

        .method {
            font-weight: 600;
        }
        
        .status {
            font-weight: 500;
            color: #C0C0C0;
        }
    }
}

@media (orientation: portrait) {
    .layout {
        .table {
            width: 100%;
        }
    }
}