<div class="layout">
    <div class="table">
        <div class="head">No</div>
        <div class="head">Method</div>
        <div class="head">url</div>
        <div class="head">status</div>
        <div class="head">time</div>
        <div class="head">size</div>
        <div class="head">priority</div>
        @for(request of data.log.entries; track request.id) {
            <div class="cell">{{ request.id }}</div>
            <div class="cell">{{ request.request.method }}</div>
            <div class="cell">{{ request.request.url }}</div>
            <div class="cell">{{ request.response.status }}</div>
            <div class="cell">{{ request.time | number:"1.2-2" }}</div>
            <div class="cell">{{ request.response._transferSize }}</div>
            <div class="cell">{{ request._priority }}</div>
        }
    </div>
</div>